# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# OpenSearch Configuration
OPENSEARCH_ENDPOINT=https://your-opensearch-domain.region.es.amazonaws.com

# S3 Configuration (auto-created by serverless)
S3_BUCKET=ai-portal-chatbot-docs-dev

# Bedrock Model IDs
EMBEDDING_MODEL_ID=amazon.titan-embed-text-v1
LLM_MODEL_ID=anthropic.claude-3-sonnet-20240229-v1:0
